@charset "UTF-8";

@font-face {
  font-family: "kccc";
  src:url("fonts/kccc.eot");
  src:url("fonts/kccc.eot?#iefix") format("embedded-opentype"),
    url("fonts/kccc.woff") format("woff"),
    url("fonts/kccc.ttf") format("truetype"),
    url("fonts/kccc.svg#kccc") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "kccc" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "kccc" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-001:before {
  content: "\61";
}
.icon-002:before {
  content: "\62";
}
.icon-003:before {
  content: "\63";
}
.icon-004:before {
  content: "\64";
}
.icon-005:before {
  content: "\65";
}
.icon-006:before {
  content: "\66";
}
.icon-007:before {
  content: "\67";
}
.icon-008:before {
  content: "\68";
}
.icon-009:before {
  content: "\69";
}
.icon-010:before {
  content: "\6a";
}
.icon-011:before {
  content: "\6b";
}
.icon-012:before {
  content: "\6c";
}
.icon-013:before {
  content: "\6d";
}
.icon-014:before {
  content: "\6e";
}
.icon-015:before {
  content: "\6f";
}
.icon-016:before {
  content: "\70";
}
.icon-017:before {
  content: "\71";
}
.icon-018:before {
  content: "\72";
}
.icon-019:before {
  content: "\73";
}
.icon-020:before {
  content: "\74";
}
.icon-021:before {
  content: "\75";
}
.icon-022:before {
  content: "\76";
}
.icon-023:before {
  content: "\77";
}
.icon-024:before {
  content: "\78";
}
.icon-025:before {
  content: "\79";
}
.icon-026:before {
  content: "\7a";
}
.icon-027:before {
  content: "\41";
}
.icon-028:before {
  content: "\42";
}
.icon-029:before {
  content: "\43";
}
.icon-030:before {
  content: "\44";
}
.icon-031:before {
  content: "\45";
}
.icon-032:before {
  content: "\46";
}
.icon-033:before {
  content: "\47";
}
.icon-034:before {
  content: "\48";
}
.icon-035:before {
  content: "\49";
}
.icon-036:before {
  content: "\4a";
}
.icon-037:before {
  content: "\4b";
}
.icon-038:before {
  content: "\4c";
}
.icon-039:before {
  content: "\4d";
}
.icon-040:before {
  content: "\4e";
}
.icon-041:before {
  content: "\4f";
}
.icon-042:before {
  content: "\50";
}
.icon-043:before {
  content: "\51";
}
.icon-044:before {
  content: "\52";
}
.icon-045:before {
  content: "\53";
}
.icon-046:before {
  content: "\54";
}
.icon-047:before {
  content: "\55";
}
.icon-048:before {
  content: "\56";
}
.icon-049:before {
  content: "\57";
}
.icon-050:before {
  content: "\58";
}
.icon-051:before {
  content: "\59";
}
.icon-052:before {
  content: "\5a";
}
.icon-053:before {
  content: "\30";
}
.icon-054:before {
  content: "\31";
}
.icon-055:before {
  content: "\32";
}
.icon-056:before {
  content: "\33";
}
.icon-057:before {
  content: "\34";
}
.icon-058:before {
  content: "\35";
}
.icon-059:before {
  content: "\36";
}
.icon-060:before {
  content: "\37";
}
.icon-061:before {
  content: "\38";
}
.icon-062:before {
  content: "\39";
}
.icon-063:before {
  content: "\21";
}
.icon-064:before {
  content: "\22";
}
.icon-065:before {
  content: "\23";
}
.icon-066:before {
  content: "\24";
}
.icon-067:before {
  content: "\25";
}
.icon-068:before {
  content: "\26";
}
.icon-069:before {
  content: "\27";
}
.icon-070:before {
  content: "\28";
}
.icon-071:before {
  content: "\29";
}
.icon-072:before {
  content: "\2a";
}
.icon-073:before {
  content: "\2b";
}
.icon-074:before {
  content: "\2c";
}
.icon-075:before {
  content: "\2d";
}
.icon-076:before {
  content: "\2e";
}
.icon-077:before {
  content: "\2f";
}
.icon-078:before {
  content: "\3a";
}
.icon-079:before {
  content: "\3b";
}
.icon-080:before {
  content: "\3c";
}
.icon-081:before {
  content: "\3d";
}
.icon-082:before {
  content: "\3e";
}
.icon-084:before {
  content: "\40";
}
.icon-085:before {
  content: "\5b";
}
.icon-086:before {
  content: "\5d";
}
.icon-087:before {
  content: "\5e";
}
.icon-088:before {
  content: "\5f";
}
.icon-089:before {
  content: "\60";
}
.icon-090:before {
  content: "\7b";
}
.icon-091:before {
  content: "\7c";
}
.icon-092:before {
  content: "\7d";
}
.icon-093:before {
  content: "\7e";
}
.icon-094:before {
  content: "\5c";
}
.icon-095:before {
  content: "\e000";
}
.icon-096:before {
  content: "\e001";
}
.icon-097:before {
  content: "\e002";
}
.icon-098:before {
  content: "\e003";
}
.icon-099:before {
  content: "\e004";
}
.icon-100:before {
  content: "\e005";
}
.icon-101:before {
  content: "\e006";
}
.icon-102:before {
  content: "\e007";
}
.icon-103:before {
  content: "\e008";
}
.icon-104:before {
  content: "\e009";
}
.icon-105:before {
  content: "\e00a";
}
.icon-106:before {
  content: "\e00b";
}
.icon-107:before {
  content: "\e00c";
}
.icon-108:before {
  content: "\e00d";
}
.icon-109:before {
  content: "\e00e";
}
.icon-110:before {
  content: "\e00f";
}
.icon-111:before {
  content: "\e010";
}
.icon-112:before {
  content: "\e011";
}
.icon-113:before {
  content: "\e012";
}
.icon-083:before {
  content: "\3f";
}
.icon-114:before {
  content: "\e013";
}
.icon-118:before {
  content: "\e014";
}
.icon-115:before {
  content: "\e015";
}
.icon-116:before {
  content: "\e016";
}
.icon-117:before {
  content: "\e017";
}
.icon-119:before {
  content: "\e018";
}
.icon-120:before {
  content: "\e019";
}
.icon-121:before {
  content: "\e01a";
}
.icon-122:before {
  content: "\e01b";
}
.icon-123:before {
  content: "\e01c";
}
.icon-124:before {
  content: "\e01d";
}
.icon-125:before {
  content: "\e01e";
}
.icon-126:before {
  content: "\e01f";
}
.icon-127:before {
  content: "\e020";
}
.icon-128:before {
  content: "\e021";
}
.icon-129:before {
  content: "\e022";
}
.icon-130:before {
  content: "\e023";
}
.icon-131:before {
  content: "\e024";
}
.icon-132:before {
  content: "\e025";
}
.icon-133:before {
  content: "\e026";
}
.icon-134:before {
  content: "\e027";
}
.icon-135:before {
  content: "\e028";
}
.icon-136:before {
  content: "\e029";
}
.icon-137:before {
  content: "\e02a";
}
.icon-138:before {
  content: "\e02b";
}
.icon-139:before {
  content: "\e02c";
}
.icon-140:before {
  content: "\e02d";
}
.icon-141:before {
  content: "\e02e";
}
.icon-142:before {
  content: "\e02f";
}
.icon-143:before {
  content: "\e030";
}
.icon-144:before {
  content: "\e031";
}
.icon-145:before {
  content: "\e032";
}
.icon-146:before {
  content: "\e033";
}
