@import "../../cbtheme/css/variables"; // продублировано из styles.scss, чтобы переменные не подсвечивались

$content-well-max-width:  1320px;

// шрифт
//
$font-url:              'https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap';

// цвета
//
$brand-color:             #4CC0E7;
$divider-clr:             $gray-light;
$well-bkg-clr:            #f1f1f1;

// страница
//
$page-bkg:                #fff;

// шапка
//
//$header-height:           15rem;
$header-bkg:              #fff;
$header-shadow:           none;
$header-text:             $text-color;

// меню
//
$menu-item-color:         $text-color;
$menu-item-hover-color:   $brand-color;
$menu-item-active-color:  $text-color;
$menu-mobile-bkg:         $brand-color;
$menu-mobile-divider-clr: white;

// подвал
//
$footer-bkg:              #ededed;
$footer-text:             $text-color;

// формы
//
$input-border-radius:     5px;
$button-border-radius:    5px;
